.full-page-loader {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  background: linear-gradient(-45deg, #2a1fad 0%, #a91b78 100%);
  background-size: 150% 150%;
}
